.home {
    margin: 0px;
    display: flex;
    padding: 20px;
    gap: 20px;
  }

  .sidebar {
    width: 20%;
    flex-shrink: 0;
  }

  .recipe-grid {
    display: grid;
    width: 95%;
    grid-template-columns: repeat(auto-fill, minmax(20vw, 1fr));
    gap: 20px;
  }
  
  .filter-panel {
    background-color: #1a1a1a;
    padding: 20px;
    padding-top: 5px;
    border-radius: 10px;
  }
  
  .search-input {
    padding: 10px;
    margin: 0px;
    border-radius: 30px;
    border: 2px solid #333;
  }
  
  .filter-section {
    display: flex;
    flex-direction: column;
    gap: 5px; /* Расстояние меж пунктами списка */
  }
  
  .filter-section label {
    display: flex;
    align-items: center;
    gap: 8px; /* Расстояние от наименования пункта до галочки */
  }
  
  .main-content {
    flex-grow: 1;
  }
  
  .recipe-card {
    background-color: #1a1a1a;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.2s;
  }

  .recipe-title {
  font-size: 1.1rem;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

  .recipe-card:hover {
    transform: scale(1.1);
  }
  
  .recipe-image img {
    width: 100%;
    height: 15vw;
    object-fit: cover;
  }

  .recipe-difficulty {
    height: 3vw;
    margin-left: 1vw;
  }
  .recipe-difficulty img {
    height: 3vw;
  }
  .recipe-info {
  color: #bbb;
  margin: 0 0 15px 15px;
  font-size: 0.9rem;
  margin-bottom: 10px;
  overflow: hidden;
}

  .recipe-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  background-color: #1a1a1a;
}

  .like-button {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #ff6b6b;
}

  .like-button img {
    width: 2.5rem;
    height: 2.5rem;
  }
  .recipe-info h3 {
    margin: 0 0 0 0;
    font-size: 1.1rem;
  }
  
  .recipe-info p {
    margin: 0;
    font-size: 0.9rem;
    color: #888;
  }
